body{
    background-color:rgb(235, 67, 117);
    font: normal 15pt Arial;
}

header{
color: white;
text-align: center;
font-family: 'Dancing Script', cursive;
font-size:46pt;
padding-bottom: 13px;
padding-top: 25px;
}

section{
padding: 15px;
border-radius: 10px;
background:black;
width: 600px;
margin: auto;
color: white;
box-shadow: 5px 5px rgb(82, 70, 70) ;
text-align: center;
}

